body{
    background-image: url(background.jpg);
}
h1{
    text-align: center;
    color: rgb(227, 127, 212);
    text-shadow: 20px;
    font-size: 50px;
    text-shadow: 3px 3px rgb(105, 17, 105);
    
}
.debu{
    display: flex;
    font-size: 30px;
    text-shadow: 3px 2px gray;
    color: rgb(248, 243, 247);
    /* border-radius: 20px; */
    padding-left: 30px;
    margin-left: 150px;
    /* background-color: rgba(118, 230, 193, 0.505); */
}
.container {
    display: flex;
    height: 300px;
}
.container1 {
    display: flex;
    /* width: ; */
    height: 300px;
    margin-top: 20px;
    padding-top: 30px;
    /* margin-left: 10px; */
}
.img img{
    margin-top: 20px;
    margin-left: 200px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    transition-duration: .5s;
    clear: right;
}
.img img:hover{
    width:300px;
    height: 300px;
}
.img .one{
    margin-left:180px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    color: rgb(241, 234, 241);
    font-style: inherit;
    text-align: center;
    
}
.img .six{
    margin-top: 20px;
    margin-left: 170px;
    width: 300px;
    height: 250px;
    cursor: pointer;
    transition-duration: .5s;
    clear: right;
}
.img .six:hover{
    width:340px;
    height: 300px;
}